<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS only -->
<style>
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}

h2 {
  color: blue;
  font-family: verdana;
  font-size: 200%;
}


</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  {% block appHeader %}{% endblock %}
</head>
  <body>
   
    {% block body %}{% endblock body %}
    
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
