{% load static %}
<style>
#helloUser{
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS only -->
<link rel="stylesheet" type="text/css" href="{% static 'shortener/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  {% block appHeader %}  
  <section class="content-header">
    <div class="container-fluid">
      <div class="card-header text-center p-5 bg-success my-3 border rounded">
        <h1>URL Shortner Page <i class="fas fa-link px-2"></i></h1>
          <span style="float:right" id="helloUser">hello, {{ request.user.username}}&nbsp;&nbsp;
          <a href= "/logout" id="helloUser">LogOut</a>
          </span>
      </div>
    </div>
  </section>
  {% endblock %}
</head>
  <body>
   
    {% block body %}{% endblock body %}
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    {% block appFooter %}{% endblock appFooter%}
  
  </body>
</html>
