{% extends 'shortener/base.html' %} 
{% block title %}Shortener{% endblock %}

{% block body %}
<div class="container">
  <section class="content">
  {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> {% endcomment %}
   <div class="col-sm-5" style="float:none;margin:auto;background-color: #f5f3f3;border-radius:2%;">
    <div class="card card-body" style="background-color:white;border-radius:2%;">
      <div>
        <form action="" method="POST" id="myForm">
          {% csrf_token %}
          <div class="row g-1">
            <label for="longUrl"> Enter a long URL to make a short URL</label>
            <input type="url" id="longUrl" required="required" name="longUrl" class="form-control" style="vertical-align: middle;height:50px;width:100%" placeholder="Place your long URL" oninvalid="this.setCustomValidity('Please enter your valid long url')" oninput="setCustomValidity('')" {% if longUrl is not None and  longUrl != "" %} value="{{longUrl}}" {% endif %}>
            
            <label>Customize your link</label>
            <select id="domain" name="domain" class="form-control" style="vertical-align: middle;height:50px;width:35%;display:inline-block;">
              {% comment %} <option value= "--" >--</option> {% endcomment %}
              {% for d in domains %}
                {% if domain != d or domain is None %}
                  <option value= "{{d}}" >{{d}}</option>
                {% else %}
                  <option value= "{{d}}" selected="True">{{d}}</option>
                {% endif %}
              {% endfor %} 
            </select>
            <input type="text" id="customShortenPart" name="customShortenPart" class="form-control" pattern="^[a-zA-Z0-9*!@$_^]+$" style="margin-left:5px;vertical-align: middle;height:50px;width:64%" placeholder="(Optional) Customize your link" oninvalid="this.setCustomValidity('Allowed special characters is * ! @ $ _ ^')" {% if customShortenPart is not None %} value="{{customShortenPart}}"{% endif %}>
            
            <button class="btn btn-primary" style="vertical-align: middle;height:50px;width:69%;" type="submit">Submit</button>
            <input class="btn btn-success" style="margin-left:5px;vertical-align: middle;height:50px;width:30%;" type="reset" value="Shorten Another" onClick="window.location.reload()">
          </div>
        </form>
      </div>
    </div>

    {% if errorMessage %}
    <div class="alert alert-danger" role="alert">
      <h2 class="text">ShortenerUrl: </h2>
      <p>{{errorMessage}}</p>
    </div>
    {% endif %}

    {% if shortener is not None %}
    <div class="alert alert-success">
      <h2 class="text">ShortenerUrl: </h2>
      <p>Copy and share to your friends</p>
      {% if customShortenPart is not None and customShortenPart != "" %}
        <a href="{{domain}}{{shortener.custom_short_url}}" id="shortenUrl" class="form-control">{{domain}}{{shortener.custom_short_url}}</a>
      {% else %}
        <a href="{{domain}}{{shortener.short_url}}" id="shortenUrl" class="form-control">{{domain}}{{shortener.short_url}}</a>
      {% endif %}
      <br>
      <button onclick="copyToClipboard('shortenUrl')">Copy text</button>
    </div>
    {% endif %}
  </section>
   </div>
</div>
<script>
function copyToClipboard(id) {
  var from = document.getElementById(id);
  var range = document.createRange();
  window.getSelection().removeAllRanges();
  range.selectNode(from);
  window.getSelection().addRange(range);
  document.execCommand('copy');
  window.getSelection().removeAllRanges();
 }

  if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
  }

</script>
{% endblock body %}

  {% block appFooter %}
  {% endblock appFooter%}
