{% extends 'shortener/base.html' %} 
{% block title %}Shortener{% endblock %}

{% block body %}
<div class="container" >
  <section class="content">
  {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> {% endcomment %}
   <div class="col-sm-5" style="float:none;margin:auto;background-color: #f5f3f3;border-radius:2%;" id="body">
    <div class="card card-body" style="background-color:white;border-radius:2%;">
      <div>
        <form action="" method="POST" id="myForm">
          {% csrf_token %}
          <div class="row g-1">
            <label for="longUrl"> Enter a long URL to make a short URL</label>

            <input type="url" id="longUrl" required="required" name="longUrl" maxlength="100" class="form-control" style="vertical-align: middle;height:50px;width:100%" placeholder="Place your long URL" oninvalid="this.setCustomValidity('Please enter your valid long url')" oninput="setCustomValidity('')">
            <label>Customize your link</label>
            <select id="domain" name="domain" class="form-control" style="vertical-align: middle;height:50px;width:65%;display:inline-block;">
              {% comment %} <option value= "--" >--</option> {% endcomment %}
              {% for d in domains %}
                {% if domain != d or domain is None %}
                  <option value= "{{d}}" >{{d}}</option>
                {% else %}
                  <option value= "{{d}}" selected="True">{{d}}</option>
                {% endif %}
              {% endfor %} 
            </select>
            <input type="text" id="customShortenPart" name="customShortenPart" class="form-control" pattern="^[a-zA-Z0-9*!@$_^]+$" maxlength="10" style="margin-left:5px;vertical-align: middle;height:50px;width:34%" placeholder="Customize url" oninvalid="this.setCustomValidity('Allowed special characters is * ! @ $ _ ^')" oninput="setCustomValidity('')">
            
            <button class="btn btn-primary" style="vertical-align: middle;height:50px;width:69%;" type="button" onclick=submitFunction() onsubmit="return submitFoo()">Submit</button>
            <input class="btn btn-success" style="margin-left:5px;vertical-align: middle;height:50px;width:30%;" type="reset" value="Shorten Another" onclick=shortenAnother()>
          </div>
        </form>
      </div>
    </div>
  </section>
  </div>
</div>

<script>
function copyToClipboard(id) {
  var from = document.getElementById(id);
  var range = document.createRange();
  window.getSelection().removeAllRanges();
  range.selectNode(from);
  window.getSelection().addRange(range);
  document.execCommand('copy');
  window.getSelection().removeAllRanges();
 }

if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}

function shortenAnother(){
  if(document.getElementById("bottomMessgae")!=null){
    document.getElementById("bottomMessgae").parentNode.removeChild(document.getElementById("bottomMessgae"));
  }
  document.getElementById('longUrl').value = ""
  document.getElementById('customShortenPart').value = ""
  
}

async function submitFunction() {
      try {
        var f = document.getElementsByTagName('form')[0];
        if(f.reportValidity()) {
          var long = document.getElementById('longUrl').value;
          var cus = document.getElementById('customShortenPart').value;
          var domain = document.getElementById('domain').value;
          let url = "api/getshorturl/"
          let csrftoken = '{{ csrf_token }}'
          let data = {
            "long": long,
            "cus": cus,
          }
          let config = {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken':csrftoken
            },
            body: JSON.stringify(data)
          }
          let response = await fetch(url, config);
          let json = await response.json();
          var errorMessage = json.context.errorMessage;
          var randomShortPart = json.context.randomShortPart
          var customShortPart = json.context.customShortPart
          if (json.success) {
            if(document.getElementById("bottomMessgae")!=null){
              document.getElementById("bottomMessgae").parentNode.removeChild(document.getElementById("bottomMessgae"));
            }
            if (errorMessage != "none"){
              if (errorMessage.includes("UNIQUE constraint failed: shortener_shortener.custom_short_url")){
                errorMessage = errorMessage.split("FOR DEVELOPER")[0];
              }
              
              if (errorMessage.includes("duplicate key value violates unique constraint "shortener_shortener_custom_short_url_key" DETAIL: Key (custom_short_url)=")){
                errorMessage = errorMessage.split("FOR DEVELOPER")[0];
              }
              html = "<div class='alert alert-danger' role='alert' id='bottomMessgae'>" + 
              "<h2 class='text'>ShortenerUrl: </h2>" +
                        "<p>" + errorMessage + "</p>"
                      + "</div>";
              document.getElementById("body").innerHTML += html
            }else{
              html1="";
              if(cus == ""){
                html1 = "<a href=" + document.getElementById('domain').value + randomShortPart + " id='shortenUrl' class='form-control'>"
                + document.getElementById('domain').value + randomShortPart + "</a>";
              }else{
                html1 = "<a href=" + document.getElementById('domain').value + cus + " id='shortenUrl' class='form-control'>"
                + document.getElementById('domain').value + cus + "</a>";
              }
            
              html = "<div class='alert alert-success' id='bottomMessgae'>" + 
                "<h2 class='text'>ShortenerUrl: </h2>" +
                "<p>Copy and share to your friends</p>" + html1 + 
                "<br>" + 
                "<button onclick=" + "copyToClipboard('shortenUrl')" + ">Copy text</button>" + 
              "</div>";
              document.getElementById("body").innerHTML += html
            }
            document.getElementById('longUrl').value= long;
            document.getElementById('customShortenPart').value= cus;
            document.getElementById('domain').value = domain;
          }
        }
      } catch (e) {
        console.log(e);
      }
    } 
</script>
{% endblock body %}
{% block appFooter %}{% endblock appFooter%}
